#main {
	background:url(/web/20160327215727/http://allgreen-russia.ru/i/bg.jpg) no-repeat center top;	
	width: 1270px;
	margin: 0 auto;
	height: 595px;	
}
#mainhead {
	height: 210px;
	background: white;
	width: 100%;
}
#headwrap img {
	float: left;
	border: none;
}
#headwrap {
	color: #cfcfcf;
	margin: 0px auto;
	width: 960px;
}
#headwrap table {
	height: 120px;
}
#headwrap a {
	color: a1d010;
}
#headwrap span {
	font-size: .72em;
	line-height: 1.3em;
}
#headwrap img {
	margin: 15px 40px 10px 40px;
}
#mainhead .menu {
	border: 1px solid #e9e9e9;
	background:url(/web/20160327215727/http://allgreen-russia.ru/i/tbg.gif) repeat-x center top #eeeeee;	
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;	
	padding: 12px 15px;
	font-size: .85em;
	width: 700px;
	text-align: center;
}
#mainhead span {
	margin: 0 2em;
}
#mainhead .menu a {
	color: gray;
	text-decoration: none;
}
#mainhead .menu a.a {
	color: #85af00;
	font-weight: bold;
	border-bottom: none;
}
#mainhead #span {
	font-size: .71em;
	margin: 0 .8em .8em .8em;
}
#content {
	background:url(/web/20160327215727/http://allgreen-russia.ru/i/bg.jpg) no-repeat top;
	margin: -82px auto 0 auto;
	padding-top: 34px;
}
#cin h1 {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}
#cin {
	margin: 0 auto;
	width: 900px;
}
.gal a {
	border: none;
}
.gal div {
	/* box-shadow: 0 0px 4px -0px gray; */
	border: none;
	margin: 0 3em 2em 0;
	height: 140px;
}

.gal div a p {
	margin-top: 0;
	text-align: center;
}

.productdiv {
	background: white;
	border-radius: 12px;
	padding: 0px 13px;
}
.productdiv h2 {
	font-size: 1.1em;
	letter-spacing: -1px;
	font-weight: normal;
	text-align: center;
	background: #eff4de;
	border-radius: 12px;
	padding: .5em;
}
 hr {
	background: none;
	margin: 10px 0;
	border-top: 1px dotted #e6edcc;
}
.productdiv table {
	margin: 0 0 1em 0;
}
.products td img {
	margin-top: 1.5em;
	border: none;
	text-decoration: none;
}
.products td {
	text-align: center;
	font-size: 11px;
	line-height: 14px;
	padding: 1.5em;
	width: 33%;
}
.products td.b {
	vertical-align: bottom;
}

.products td.i a {
	border-bottom: none;
	vertical-align: bottom;	
}
.lmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.lmenu li {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #e0eabf;
	padding: 7px 10px;
	line-height: 13px;
}
.lmenu li.cur {
	background: white;
	opacity: 0.8;
	filter: alpha(Opacity=80); 
	-webkit-border-top-left-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	border-bottom: none;
}
.lmenu li.cur a {
	color: #bfcd76;
}
.lmenu li a {
	display: block;
	border-bottom: none;
	color: #314526;
	margin: 0 1px 2px;	
}
.lmenu li a:hover {
	border-bottom: none;
}
.table {
	margin-bottom: 10px;
	margin-top: 2px;
}
.table td {
	padding: 0px 8px;
	vertical-align: top;
}
.table .l  {
	width: 205px;
	line-height: 1.2em;
}
.table .ll  {
	width: 214px;
	line-height: 1.2em;
}
.table .l h3, .table .ll h3 {
	font-size: 14px;
	padding-top: 1em;
}
.table .l p {
	font-size: 11px;
	width: 90%;
}
.table .rr p, .table .rr li {
	font-size: 12px;
	line-height: 19px;
	width: 95%;
}
.table .l p a {
	color: black;
}
.table .rr {
	padding: 2em 1em 1em 2em;
}
#contentf {
	background:url(/web/20160327215727/http://allgreen-russia.ru/i/bg3.jpg) no-repeat top center;
	margin: 0 auto;
	height: 63px;
}
#splash {
	background:url(/web/20160327215727/http://allgreen-russia.ru/i/bg2.jpg) no-repeat top;
	margin: -89px auto 0 auto;
	height: 603px;
}
#splash .info {
	margin: 0 auto;
	padding: 63px 0 0 340px;
	width: 500px;
}
#splash .info cite {
	font-style: normal;
	font-size: 1.8em;
	line-height: 2.2em;
	color: #5f7d00;
}
#splash .info cite font {
	color: #a7de00;
}
#splash .info p {
	font-size: .9em;
	line-height: 1.5em;
	color: #6c6c6c;
}
#splash #tbl4 {
	width: 940px;
	clear: both;
	margin: 28px auto 0 auto;	
	height: 80px;
}
#splash #tbl4 td {
	padding: 1em;
	vertical-align: middle;
	width: 25%;
	padding-top: 22px;
}
#splash #tbl4 td a {
	color: #222;
	font-weight: bold;
	border: none;
	line-height: 15px;
}
#splash #tbl4 td a img {
	border: none;
	float: left;
	margin-right: 5px;
	margin-top: -10px;
}

#splash #tbl2 {
	width: 940px;
	clear: both;
	margin: 0 auto;
	height: 235px;		
}
#splash #tbl2 td {
	padding:25px;
	vertical-align: top;
	width: 50%;
}
#splash #tbl2 h2 {
	font-style: normal;
	font-size: 1.3em;
	line-height: 1em;
	color: #485b0c;
	font-weight: normal;
	margin: .3em 0;
	padding: 0;
}
#splash #tbl2 td p {
	font-size: .8em;
	line-height: 1.3em;
}
#splash #tbl2 td:first-child p{
	font-size: 12px;
   line-height: 19px;
}
#splash #tbl2 .d td {
	padding: 1em;
}
#splash #tbl2 .d span {
	font-size: 11px;
	line-height: 14px;
	color: #050;
}
#splash #tbl2 .d p {
	font-size: 12px;
	line-height: 16px;
	
}
#footer {
	background: #447023;
	color: #fcfdbf;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	width: 906px;
	margin: 0px auto 1em auto;
	padding: 12px 18px;
	font-size: .8em;
	border: 1px solid #abba82;
	text-align: center;
}

#footer img {
	vertical-align: middle;
}

#footer a {
	text-decoration: none;
}

#footer span {
	margin: 0 1em;
}
.triaf {
	width: 910px;
	background-image:url(/web/20160327215727/http://allgreen-russia.ru/i/shad.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}
.triaf td {
	padding: 0 1em 1em 1em;
	text-align: top;
	width: 33%;
	vertical-align: top;
	font-size: 12px;
	color: #464646;
	line-height: 17px;
}
.triaf td strong {
	font-size: 15px;
	color: #415500;
}
.triaf a {
	color: #006600;
}
.prod {
	background: #f4f4f4;
}
.prodw {
	background: white;
}

.product_names_row td {
	padding: 0.8em 0;
}
.news-item{
	 clear: both;
	margin-bottom: 25px;
	overflow: hidden;
}
.news-item a {
	color: #485b0c;
}
.news-list{
	font-size:12px;
}
.preview_picture{
	  float: left;
	margin: 0 20px 15px 0;
}
.news-date{
	 color: gray;
	margin-bottom: 5px;
}

.news-title{
	 font-weight: bold;
	margin-bottom: 10px;
}

#splash #tbl4 td:first-child span{
	display: inline-block;
	margin-top: 20px;
}

.gal .preview_picture{
	margin:0;
	float:none;
}

.gal>div{
	text-align: center;
	margin: 0 3em 60px 0;
}
.webrost{
	padding-right: 13px;
	text-align: right;
}