div {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #9dbd36;
}

a {
	border-bottom: 1px solid;
	text-decoration: none;
	color: #85af00;
}

a:hover {
	text-decoration: none;
	border-bottom: none;
	margin-bottom: 0px;
}

.href-off {
	pointer-events: none;
}

input:invalid {
	box-shadow: none;
}

a.fancybox-close {
	border-bottom: 0px !important;
}

#map {
	width: 640px;
	height: 300px;
}

.hidden-contacts {
	position: absolute;
	top: -9999px;
	left: -9999px;
}




header {
	background: white;
	width: 100%;
	height: 210px;
}

header.header-inner {
	height: 130px;
	box-shadow: 0 2px 20px 0px rgba(255, 255, 255, 0.5);
}

.header {
	color: #cfcfcf;
	margin: 0px auto;
	width: 940px;
}

.header-element-logo {
	display: table-cell;
	width: 30%;
}


.header-element-logo a {
	border: none;
	display: block;
	padding: 20px 40px 10px 30px;
}

.header-element-right {
	display: table-cell;
	width: 65%;
	text-align: right;
	vertical-align: middle;
}

.header-element-right .header-contacts {
	font-size: .71em;
	margin-bottom: 9px;
	margin-right: 9px;
	margin-top: 25px;
	margin-left: 9px;
}

.header-element-right .header-contacts span.phone:hover {
	color: #808080;
}

.header-element-right .header-contacts span.phone::selection {
	color: #808080;
}

.header-element-right span.space {
	font-size: .72em;
	margin: 0 18px;
}

.header-element-right .top-line {
	border: 1px solid #e9e9e9;
	background:url(/img/tbg.gif) repeat-x center top #fff;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: .85em;
	width: 700px;
	text-align: right;
}

.header-element-right .top-line a {
	color: #808080;
	text-decoration: none;
}
.header-element-right .top-line a:hover {
	color: #85af00;
}

.header-element-right .top-line input[type="text"] {
	background: transparent;
	border: 1px solid #85af00;
	border-radius: 11px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	color: #5f7d00;

	margin-right: 5px;
	width: 160px;
}

.header-element-right .top-line input[type="text"]:focus {
	outline: none;
}

.header-element-right .top-line input[type="submit"]:focus {
	outline: none;
}

.header-element-right .top-line input[type="text"]:hover {
	box-shadow: 0px 0px 10px rgba(133, 175, 0, 0.5);
}

.header-element-right .top-line input[type="submit"] {
	background: #85af00;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 11px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 14px;
	padding-right: 14px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.header-element-right .top-line input[type="submit"]:hover {
	background: rgb(241, 116, 0);
	box-shadow: 0px 0px 10px rgba(133, 175, 0, 0.5);
}


footer {
	background: #447023;
	color: #fcfdbf;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	width: 906px;
	margin: 0px auto 13px auto;
	padding: 12px 18px;
	font-size: .8em;
	border: 1px solid #abba82;
	text-align: center;
}

footer img {
	vertical-align: middle;
}

footer a {
	text-decoration: none;
	color: #ADE400;
}

footer a.social {
	border: none;
}

footer span.space {
	margin: 0 13px;
}

footer div.footer-element {
	display: inline-block;
}




.content {
	background:url(/img/bg2.jpg) no-repeat top;
	height: 603px;
	margin-top: -89px;
}

.content .info {
	margin: 0 auto;
	padding: 63px 0 0 340px;
	width: 500px;
}
.content .info h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 25.6px;
	color: #5f7d00;
	margin-top: 14px;
	margin-bottom: 24px;
}
.content .info h1 .info-green {
	color: #a7de00;
}

.content .info .info-top-image-list {
	position: absolute;
	margin-top: -22px;
	margin-left: 260px;
}

.content .info .info-top-image-list img {
	height: 80px;
}

.content .info p {
	font-size: .9em;
	line-height: 1.5em;
	color: #6c6c6c;
}

.content .info h2 {
	font-size: .9em;
	line-height: 1.5em;
	color: #6c6c6c;
	font-weight: normal;
}

.content .info a {
	font-size: .9em;
}


.content nav.index-menu {
	width: 940px;
	clear: both;
	margin: 72px auto 0 auto;	
	height: 80px;

	left: -2px;
	position: relative;
}

.content nav.index-menu ul {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 80px;
}

.content nav.index-menu li {
	width: 235px;

	display: table-cell;
	vertical-align: middle;
	height: 80px;
	padding-left: 10px;
	line-height: inherit;
}

.content nav.index-menu li a {
	color: #444;
	font-weight: bold;
	border: none;
	display: block;

	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;
}

.content nav.index-menu li a:hover {
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;

	color: #777;
}

.content nav.index-menu li a img {
	border: none;
	position: absolute;
	margin-top: 0px;
	top: 15px;
	height: 50px;
	max-width: 60px;
}

.content nav.index-menu li a span {
	font-family: "Open Sans";
	left: 68px;
	position: relative;
	width: 120px;
	display: inline-block;
}

/* *** */

.content .index-sections {
	width: 940px;
	clear: both;
	margin: 0 auto;
	height: 235px;

	left: -2px;
	position: relative;
}

.content .index-sections .index-sect-left {
	padding: 25px;
	vertical-align: top;
	width: 470px;
	text-align: center;

	display: table-cell;
}

.content .index-sections .index-sect-left img {
	max-width: 234px;
	border-radius: 11px;
}

.content .index-sections .index-sect-left p.skidka-info {
	font-size: 11px;
	color: #444;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Open Sans";
}


.content .index-sections .index-sect-right {
	padding:25px;
	vertical-align: top;
	width: 470px;
	text-align: left;

	display: table-cell;
}

.content .index-sections .index-sect-right h3 {
	font-family: "Open Sans";
	font-style: normal;
	font-size: 1.3em;
	color: #485b0c;
	font-weight: normal;
	margin: .3em 0;
	padding: 0;

	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	display: inline-block;
}

.content .index-sections .index-sect-right p {
	font-family: "Open Sans";
	font-size: .9em;
	line-height: 1.3em;
	font-weight: bold;
	color: #444;
}

.content .index-sections .index-sect-right li {
	font-family: "Open Sans";
	font-size: .9em;
	padding-bottom: 5px;
	font-weight: bold;
	color: #444;
}

.content .index-sections .index-sect-right a.ctm-more-info-button {
	position: absolute;
	bottom: 10px;
	right: 45px;

	font-size: 14px;
	font-family: "Open Sans";
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fcfdbf;
	background: rgba(72, 91, 12, 0.4);
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.content .index-sections .index-sect-right a.ctm-more-info-button:hover {
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.37);
}

/* *** */

.content.request {
	height: inherit;
	background: #F3F5F2;
	margin-bottom: 25px;
	text-align: center;
}

.content.request .info {
	width: inherit;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* *** */

.inner-page {
	width: 942px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.inner-page-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;

}

.inner-page-menu a {
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 0px;
	border-right: 0px;
	color: #fcfdbf;
	margin-top: -1px;
	background: rgba(72, 91, 12, 0.6);
	font-size: 14px;
	font-family: "Open Sans";
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.inner-page-menu a:hover {
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.37);
}

.inner-page-menu a.active-page {
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.37);
	color: #fff;
	pointer-events: none;
}


.col-left {
	display: table-cell;
	vertical-align: top;
	background-color: #b2c66d;
	width: 250px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.col-left-container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.col-left-container a.back-to-index {
	color: #fff;
	border-bottom: 0px;
}

.col-left-container a.back-to-index:hover {
	margin-left: -2px;
}

.col-left-container p {
	font-size: 13px;
	text-shadow: 0.2px 0.2px 0.2px #fff;
	color: #000;
	font-family: "Open Sans";
	font-weight: 400;
}

.col-left-container p.skidka-info {
	font-size: 11px;
	color: #444;
	font-family: "Open Sans";
	text-align: center;
	font-weight: 400;
}

.col-left-container img {
	max-width: 200px;
	border-radius: 11px;
	display: block;
	margin: 0 auto;
}

.col-left-container a.nabor-tovarov {
	border-bottom: 0px;
}


.col-right {
	display: table-cell;
	vertical-align: top;
	background: #dde8be;
	width: 692px;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.col-right-container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.col-right-container p {
	font-size: 13px;
	text-shadow: 0.2px 0.2px 0.2px #fff;
	color: #000;
}

.col-right-container ul li {
	font-size: 13px;
	text-shadow: 0.2px 0.2px 0.2px #fff;
	color: #000;
}

.col-right-container h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: "Exo 2";
	font-weight: 500;
	text-shadow: 0.5px 0.5px 0.5px #FFF;
}

.col-right-container h2 {
	font-size: 20px;
}

.col-right-container a.mailto {
	font-weight: bold;
}

.col-right-container a.price-list-button {
	position: absolute;
	margin-top: -34px;
	margin-left: 495px;

	font-size: 14px;
	font-family: "Open Sans";
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fcfdbf;
	background: rgba(72, 91, 12, 0.6);
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.col-right-container a.price-list-button:hover {
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.37);
}


.col-right-container .tovars-head {
	padding-bottom: 20px;
}

hr.tovars-split {
	background: rgba(72, 91, 12, 0.6);
	border: none;
	height: 2px;
}

.col-right-container .tovars-section h3 {
	font-family: "Exo 2";
	font-weight: 500;
	text-shadow: 0.5px 0.5px 0.5px #FFF;
}

.col-right-container .tovar-grid {
	text-align: center;
	position: relative;
	margin-top: 0px;
	margin-bottom: 30px;
	display: table;
}

.col-right-container .tovar-grid-cell {
	border: 1px solid #85af00;
	float: left;
	position: relative;
	width: 128px;
	height: 128px;
	margin-top: -1px;
	margin-left: -1px;
	background: #fff;

	display: flex;
	align-items: center;
	justify-content: center;
}

.col-right-container .tovar-grid-cell img {
	max-width: 110px;
	max-height: 110px;
	padding: 8px;
}

.col-right-container .tovar-grid-cell a {
	border-bottom: 0px;
	display: block;
}

.col-right-container .about-company-text {
	font-family: "Exo 2";
	font-weight: 500;
}

.col-right-container .about-company-text p {
	font-size: 14px;
}

.col-right-container .about-company-text ul li {
	font-size: 14px;
}

.col-right-container .about-company-text h3 {
	font-family: "Exo 2";
	font-weight: 500;
	text-shadow: 0.5px 0.5px 0.5px #FFF;
}


.col-right-container .nagrady {
	text-align: center;
}

.col-right-container .nagrady .nagrady-element {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
}

.col-right-container .nagrady .nagrady-element a {

}


.col-right-container .nagrady .nagrady-element a img {
	max-width: 90px;

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.col-right-container .nagrady .nagrady-element img:hover {
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.col-right-container .certs {
	text-align: center;
}

.col-right-container .certs .certs-element {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
}

.col-right-container .certs .certs-element a {

}


.col-right-container .certs .certs-element a img {
	max-width: 90px;

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.col-right-container .certs .certs-element img:hover {
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}


.col-right-container .ctm-info {
	font-family: "Exo 2";
	font-weight: 500;
}

.col-right-container .ctm-info p {
	font-size: 14px;
}

.col-right-container .ctm-info a {
	font-size: 14px;
}

.col-right-container .ctm-info h3 {
	font-family: "Exo 2";
	font-weight: 500;
	text-shadow: 0.5px 0.5px 0.5px #FFF;
}

.col-right-container .ctm-info .partners {
	display: table;
	margin: 0 auto;
}

.col-right-container .ctm-info .partners .partners-element {
	display: table-cell;
}

.col-right-container .ctm-info .partners .partners-element img {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 200px;

	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;
}

.col-right-container .ctm-info .partners .partners-element img:hover {
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}


.col-right-container .about-company-text a.factory-img img {
	width: 100%;
}

.col-right-container .contacts-text {
	font-family: "Exo 2";
	font-weight: 500;
}

.col-right-container .contacts-text span.tel {
	padding-left: 25px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.col-right-container .contacts-text .email_addr {
	padding-left: 25px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.col-right-container .contacts-text span.tel a {
	font-weight: 600;
}



.adsense {
	display: block;
	text-align: center;
	margin: 0 auto;
}




@media screen and (max-width: 980px) {

	#map {
		width: 100%;
		height: 200px;
	}

	header {
		height: inherit;
	}

	header.header-inner {
		height: inherit;
	}

	.header {
		width: inherit;
	}

	.header-element-logo {
		display: block;
		text-align: center;
		width: inherit;
	}

	.header-element-right {
		display: block;
		text-align: center;
		width: inherit;
	}

	.header-element-right .top-line {
		width: inherit;
		background: none;
		border-radius: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-right: 0px;
		border-left: 0px;
	}

	.header-element-right .top-line a {
		display: block;
		border: none;
	}

	.header-element-right .top-line input[type="text"] {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.header-element-right .top-line input[type="submit"] {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}


	footer {
		width: inherit;
		overflow: hidden;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 10px;
	}

	footer span.space {
		display: none;
	}

	footer div.footer-element {
		display: block;
		padding: 5px;
	}

	.content {
		margin-top: 0px;
		height: inherit;
		background: #F3F5F2;
	}

	.content .info {
		width: inherit;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.content .info h1 {
		margin: 0px;
	}

	.content .info .info-top-image-list {
		position: inherit;
		margin-top: inherit;
		margin-left: inherit;
		text-align: center;
	}

	.content nav.index-menu {
		width: inherit;
		clear: both;
		margin: inherit;
		height: inherit;
		left: inherit;
		position: inherit;
	}

	.content nav.index-menu ul {
		height: inherit;
	}

	.content nav.index-menu li {
		width: inherit;
		display: block;
		vertical-align: inherit;
		padding-left: 20px;
		text-align: left;
		line-height: 80px;
	}

	.content nav.index-menu li a img {
		top: inherit;
		margin-top: 15px;
	}

	.content nav.index-menu li a {
		width: inherit;
	}

	.content nav.index-menu li a span {
		width: inherit;
		left: 72px;
	}

	.content .index-sections {
		width: inherit;
		margin: inherit;
		height: inherit;
		left: inherit;
		position: inherit;
		padding-top: 20px;
	}

	.content .index-sections .index-sect-left {
		vertical-align: inherit;
		width: inherit;
		display: block;
		padding: 0px;
	}

	.content .index-sections .index-sect-right {
		vertical-align: inherit;
		width: inherit;
		display: block;
	}

	.content .index-sections .index-sect-right a.ctm-more-info-button {
		position: inherit;
		right: inherit;
		bottom: inherit;
		background: rgba(68, 112, 35, 0.9);
		box-shadow: 0px 0px 10px rgb(72, 91, 12);
	}

	.inner-page {
		width: inherit;
	}

	.col-left {
		display: inherit;
		vertical-align: inherit;
		width: inherit;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		margin-bottom: 20px;
	}

	.col-right {
		display: inherit;
		vertical-align: inherit;
		width: inherit;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}

	.col-right-container a.price-list-button {
		position: inherit;
		display: inline-block;
		margin-left: inherit;
		margin-top: 10px;
	}

	.col-right-container .contacts-text .email_addr {
		padding-bottom: 10px;
	}

	.col-right-container .contacts-text .email_addr b {
		display: block;
	}

	.col-right-container .ctm-info .partners {
		display: block;
		text-align: center;
	}

	.col-right-container .ctm-info .partners .partners-element {
		display: block;
	}

	.col-right-container .ctm-info .partners .partners-element img {
		padding-bottom: 10px;
	}
}