div {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #9dbd36;
}

a {
	border-bottom: 1px solid;
	text-decoration: none;
	color: #85af00;
}

a:hover {
	text-decoration: none;
	border-bottom: none;
	margin-bottom: 0px;
}

.hidden {
	display: none;
}

.href-off {
	pointer-events: none;
}

input:invalid {
	box-shadow: none;
}




header {
	background: white;
	width: 100%;
	height: 210px;
}

.header {
	color: #cfcfcf;
	margin: 0px auto;
	width: 940px;
}

.header-element-logo {
	display: table-cell;
	width: 30%;
}


.header-element-logo a {
	border: none;
	display: block;
	padding: 20px 40px 10px 30px;
}

.header-element-right {
	display: table-cell;
	width: 65%;
	text-align: right;
	vertical-align: middle;
}

.header-element-right .header-contacts {
	font-size: .71em;
	margin-bottom: 9px;
	margin-right: 9px;
	margin-top: 25px;
	margin-left: 9px;
}

.header-element-right .header-contacts span.phone:hover {
	color: #808080;
}

.header-element-right .header-contacts span.phone::selection {
	color: #808080;
}

.header-element-right span.space {
	font-size: .72em;
	margin: 0 18px;
}

.header-element-right .top-line {
	border: 1px solid #e9e9e9;
	background:url(/img/tbg.gif) repeat-x center top #fff;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: .85em;
	width: 700px;
	text-align: right;
}

.header-element-right .top-line a {
	color: #808080;
	text-decoration: none;
}
.header-element-right .top-line a:hover {
	color: #85af00;
}

.header-element-right .top-line input[type="text"] {
	background: transparent;
	border: 1px solid #85af00;
	border-radius: 11px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 7px;
	color: #5f7d00;

	margin-right: 5px;
	width: 160px;
}

.header-element-right .top-line input[type="text"]:focus {
	outline: none;
}

.header-element-right .top-line input[type="submit"]:focus {
	outline: none;
}

.header-element-right .top-line input[type="text"]:hover {
	box-shadow: 0px 0px 10px rgba(133, 175, 0, 0.5);
}

.header-element-right .top-line input[type="submit"] {
	background: #85af00;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 11px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 14px;
	padding-right: 14px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.header-element-right .top-line input[type="submit"]:hover {
	background: rgb(241, 116, 0);
	box-shadow: 0px 0px 10px rgba(133, 175, 0, 0.5);
}


footer {
	background: #447023;
	color: #fcfdbf;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	width: 906px;
	margin: 0px auto 13px auto;
	padding: 12px 18px;
	font-size: .8em;
	border: 1px solid #abba82;
	text-align: center;
}

footer img {
	vertical-align: middle;
}

footer a {
	text-decoration: none;
	color: #ADE400;
}

footer a.social {
	border: none;
}

footer span.space {
	margin: 0 13px;
}

footer div.footer-element {
	display: inline-block;
}




.content {
	background:url(/img/bg2.jpg) no-repeat top;
	height: 603px;
	margin-top: -89px;
}

.content .info {
	margin: 0 auto;
	padding: 63px 0 0 340px;
	width: 500px;
}
.content .info h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 25.6px;
	color: #5f7d00;
	margin-top: 14px;
	margin-bottom: 24px;
}
.content .info h1 .info-green {
	color: #a7de00;
}

.content .info .info-top-image-list {
	position: absolute;
	margin-top: -22px;
	margin-left: 260px;
}

.content .info .info-top-image-list img {
	height: 80px;
}

.content .info p {
	font-size: .9em;
	line-height: 1.5em;
	color: #6c6c6c;
}

.content .info h2 {
	font-size: .9em;
	line-height: 1.5em;
	color: #6c6c6c;
	font-weight: normal;
}

.content .info a {
	font-size: .9em;
}


.content nav.index-menu {
	width: 940px;
	clear: both;
	margin: 72px auto 0 auto;	
	height: 80px;

	left: -2px;
	position: relative;
}

.content nav.index-menu ul {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 80px;
}

.content nav.index-menu li {
	width: 235px;

	display: table-cell;
	vertical-align: middle;
	height: 80px;
	padding-left: 10px;
	line-height: inherit;
}

.content nav.index-menu li a {
	color: #444;
	font-weight: bold;
	border: none;
	display: block;

	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;
}

.content nav.index-menu li a:hover {
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;

	color: #777;
}

.content nav.index-menu li a img {
	border: none;
	position: absolute;
	margin-top: 0px;
	top: 15px;
	height: 50px;
	max-width: 60px;
}

.content nav.index-menu li a span {
	font-family: "Open Sans";
	left: 68px;
	position: relative;
	width: 120px;
	display: inline-block;
}

/* *** */

.content .index-sections {
	width: 940px;
	clear: both;
	margin: 0 auto;
	height: 235px;

	left: -2px;
	position: relative;
}

.content .index-sections .index-sect-left {
	padding: 25px;
	vertical-align: top;
	width: 470px;
	text-align: center;

	display: table-cell;
}

.content .index-sections .index-sect-left img {
	max-width: 234px;
	border-radius: 11px;
}

.content .index-sections .index-sect-left p.skidka-info {
	font-size: 11px;
	color: #444;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Open Sans";
}


.content .index-sections .index-sect-right {
	padding:25px;
	vertical-align: top;
	width: 470px;
	text-align: left;

	display: table-cell;
}

.content .index-sections .index-sect-right h3 {
	font-family: "Open Sans";
	font-style: normal;
	font-size: 1.3em;
	color: #485b0c;
	font-weight: normal;
	margin: .3em 0;
	padding: 0;

	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	display: inline-block;
}

.content .index-sections .index-sect-right p {
	font-family: "Open Sans";
	font-size: .9em;
	line-height: 1.3em;
	font-weight: bold;
	color: #444;
}

.content .index-sections .index-sect-right li {
	font-family: "Open Sans";
	font-size: .9em;
	padding-bottom: 5px;
	font-weight: bold;
	color: #444;
}

.content .index-sections .index-sect-right a.ctm-more-info-button {
	position: absolute;
	bottom: 10px;
	right: 45px;

	font-size: 14px;
	font-family: "Open Sans";
	text-decoration: none;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fcfdbf;
	background: rgba(72, 91, 12, 0.4);
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px rgba(72, 91, 12, 0.4);
}

.content .index-sections .index-sect-right a.ctm-more-info-button:hover {
	box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.37);
}

/* *** */

.content.request {
	height: inherit;
	background: #F3F5F2;
	margin-bottom: 25px;
	text-align: center;
}

.content.request .info {
	width: inherit;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* *** */















#cin h1 {
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}
#cin {
	margin: 0 auto;
	width: 900px;
}
.gal a {
	border: none;
}
.gal div {
	/* box-shadow: 0 0px 4px -0px gray; */
	border: none;
	margin: 0 3em 2em 0;
	height: 140px;
}

.gal div a p {
	margin-top: 0;
	text-align: center;
}

.productdiv {
	background: white;
	border-radius: 12px;
	padding: 0px 13px;
}
.productdiv h2 {
	font-size: 1.1em;
	letter-spacing: -1px;
	font-weight: normal;
	text-align: center;
	background: #eff4de;
	border-radius: 12px;
	padding: .5em;
}
 hr {
	background: none;
	margin: 10px 0;
	border-top: 1px dotted #e6edcc;
}
.productdiv table {
	margin: 0 0 1em 0;
}
.products td img {
	margin-top: 1.5em;
	border: none;
	text-decoration: none;
}
.products td {
	text-align: center;
	font-size: 11px;
	line-height: 14px;
	padding: 1.5em;
	width: 33%;
}
.products td.b {
	vertical-align: bottom;
}

.products td.i a {
	border-bottom: none;
	vertical-align: bottom;	
}
.lmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.lmenu li {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #e0eabf;
	padding: 7px 10px;
	line-height: 13px;
}
.lmenu li.cur {
	background: white;
	opacity: 0.8;
	filter: alpha(Opacity=80); 
	-webkit-border-top-left-radius: 9px;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	border-bottom: none;
}
.lmenu li.cur a {
	color: #bfcd76;
}
.lmenu li a {
	display: block;
	border-bottom: none;
	color: #314526;
	margin: 0 1px 2px;	
}
.lmenu li a:hover {
	border-bottom: none;
}
.table {
	margin-bottom: 10px;
	margin-top: 2px;
}
.table td {
	padding: 0px 8px;
	vertical-align: top;
}
.table .l  {
	width: 205px;
	line-height: 1.2em;
}
.table .ll  {
	width: 214px;
	line-height: 1.2em;
}
.table .l h3, .table .ll h3 {
	font-size: 14px;
	padding-top: 1em;
}
.table .l p {
	font-size: 11px;
	width: 90%;
}
.table .rr p, .table .rr li {
	font-size: 12px;
	line-height: 19px;
	width: 95%;
}
.table .l p a {
	color: black;
}
.table .rr {
	padding: 2em 1em 1em 2em;
}
#contentf {
	background:url(/img/bg3.jpg) no-repeat top center;
	margin: 0 auto;
	height: 63px;
}


.triaf {
	width: 910px;
	background-image:url(/img/shad.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}
.triaf td {
	padding: 0 1em 1em 1em;
	text-align: top;
	width: 33%;
	vertical-align: top;
	font-size: 12px;
	color: #464646;
	line-height: 17px;
}
.triaf td strong {
	font-size: 15px;
	color: #415500;
}
.triaf a {
	color: #006600;
}
.prod {
	background: #f4f4f4;
}
.prodw {
	background: white;
}

.product_names_row td {
	padding: 0.8em 0;
}
.news-item{
	 clear: both;
	margin-bottom: 25px;
	overflow: hidden;
}
.news-item a {
	color: #485b0c;
}
.news-list{
	font-size:12px;
}
.preview_picture{
	  float: left;
	margin: 0 20px 15px 0;
}
.news-date{
	 color: gray;
	margin-bottom: 5px;
}

.news-title{
	 font-weight: bold;
	margin-bottom: 10px;
}

#splash #tbl4 td:first-child span{
	display: inline-block;
	margin-top: 20px;
}

.gal .preview_picture{
	margin:0;
	float:none;
}

.gal>div{
	text-align: center;
	margin: 0 3em 60px 0;
}
.webrost{
	padding-right: 13px;
	text-align: right;
}




@media screen and (max-width: 980px) {

	header {
		height: inherit;
	}

	.header {
		width: inherit;
	}

	.header-element-logo {
		display: block;
		text-align: center;
		width: inherit;
	}

	.header-element-right {
		display: block;
		text-align: center;
		width: inherit;
	}

	.header-element-right .top-line {
		width: inherit;
		background: none;
		border-radius: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-right: 0px;
		border-left: 0px;
	}

	.header-element-right .top-line a {
		display: block;
		border: none;
	}

	.header-element-right .top-line input[type="text"] {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.header-element-right .top-line input[type="submit"] {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}


	footer {
		width: inherit;
		overflow: hidden;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 10px;
	}

	footer span.space {
		display: none;
	}

	footer div.footer-element {
		display: block;
		padding: 5px;
	}

	.content {
		margin-top: 0px;
		height: inherit;
		background: #F3F5F2;
	}

	.content .info {
		width: inherit;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.content .info h1 {
		margin: 0px;
	}

	.content .info .info-top-image-list {
		position: inherit;
		margin-top: inherit;
		margin-left: inherit;
		text-align: center;
	}

	.content nav.index-menu {
		width: inherit;
		clear: both;
		margin: inherit;
		height: inherit;
		left: inherit;
		position: inherit;
	}

	.content nav.index-menu ul {
		height: inherit;
	}

	.content nav.index-menu li {
		width: inherit;
		display: block;
		vertical-align: inherit;
		padding-left: 20px;
		text-align: left;
		line-height: 80px;
	}

	.content nav.index-menu li a img {
		top: inherit;
		margin-top: 15px;
	}

	.content nav.index-menu li a {
		width: inherit;
	}

	.content nav.index-menu li a span {
		width: inherit;
		left: 72px;
	}

	.content .index-sections {
		width: inherit;
		margin: inherit;
		height: inherit;
		left: inherit;
		position: inherit;
		padding-top: 20px;
	}

	.content .index-sections .index-sect-left {
		vertical-align: inherit;
		width: inherit;
		display: block;
		padding: 0px;
	}

	.content .index-sections .index-sect-right {
		vertical-align: inherit;
		width: inherit;
		display: block;
	}

	.content .index-sections .index-sect-right a.ctm-more-info-button {
		position: inherit;
		right: inherit;
		bottom: inherit;
		background: rgba(68, 112, 35, 0.9);
		box-shadow: 0px 0px 10px rgb(72, 91, 12);
	}

}